* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.navbar {
    background: #fff;
    gap: 10%;
    height: 5%;
}

.collapse {
    margin-left: 15%;
}

.navbar-brand img {
    margin-left: 25%;
    border-radius: 25%;
}

.btn:hover {
    background: red;
}

/*------------------------------------------- This is the home banner section ------------------------- */
.hero-text {
    display: flex;
    height: 550px;
    margin-top: 2%;
}

.hero-inner {
    margin-left: 5%;
    margin-top: 10%;
}

.hero-hero {
    color: #000;
}

.button {
    background: url(../assets/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.button span {
    cursor: pointer;
}

.hero-actions span {
    padding: 100px 0 0 0;
}

.carousel {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.carousel::before {
    content: "";
    background-image: url('../assets/the-mandalorian-ch-20-slide-desktop_b75b5cb2.webp');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.carousel-inner h1 {
    color: #fff;
    margin-left: 25px;
    margin-top: 10px;
}

.carousel-item img {
    height: 510px;
    width: 100%;
    background-size: cover;
    object-fit: none;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.main {
    display: flex;
}

.left img {
    height: 600px;
    margin-left: 20px;
    margin-top: 20px;
}

.right p {
    margin-top: 20px;

}

/* -----------------------------this is the banner2 section------------------------- */
.subtitle h1 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#movies2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5px;
    margin-top: 20px;
    background-color: azure;
}

.Img-1 img {
    height: 400px;
    width: 100%;
    background-position: center;
    object-fit: cover;
}


#movies2 .Img-1 h1 {
    color: rgb(197, 242, 129);
}

#movies2 .Img-1 h2 {
    color: #C1C1C1;
    font-size: 20px;
}

#movies2 .Img-1 p {
    color: #C1C1C1;
    font-size: 18px;
}

.Img-1 {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
    background-color: rgb(165, 164, 164);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.Img-1 h1,
h3,
p {
    border: 10px solid rgb(226, 104, 130);
    background-color: rgb(226, 104, 130);
}

.text {
    height: 40px;
    width: 100%;
    background-color: #b24;
}

.Img-1 p a {
    background: url(../assets/button.png);
    background-color: transparent;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

/*----------------------------------- moreinfo page section--------------------------------  */

.alien {
    display: grid!important;
    background-image: url(../assets/Alien.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.alien .fay-txt{
    display: grid;
    grid-template-columns: auto auto;

}

.alien .fay-txt img{
    width: 200px;
    height: 200px;
    
}

/*---------------------------- This is the small scereen section -------------------- */


@media(max-width: 820px) {
    header {
        font-size: 20px;
        text-align: center;
        color: black;
        background-color: #b24;
        position: relative;
        height: 50px;
        width: 100%;
        background-size: cover;
        box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
        -webkit-box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
        -moz-box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
    }

    header h1 {
        /* position: absolute; */
        font-size: 20px;
        margin-left: 20px;
        margin-top: 0px;
        font-family: 'Franklin Gothic Medium';
        width: 100px;
    }

    #movies2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .Img-1 img {
        height: 400px;
        width: 400px;
        background-position: center;
        object-fit: cover;
    }

}


@media only screen and (max-width: 767px) {
    .hero-text {
        display: block;
        flex-direction: column;
    }

    .hero-inner {
        width: 60%;
        height: 300px;
    }

    picture img {
        height: 200px;
        width: 80%;
        align-self: center;
        background-size: cover;
        object-fit: cover;
    }

    header {
        font-size: 20PX;
        text-align: center;
        color: black;
        background-color: #b24;
        /* position: relative; */
        height: 50px;
        width: 100px;
        background-size: cover;
        box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
        -webkit-box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
        -moz-box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
    }

    header h1 {
        /* position: absolute; */
        margin-left: 20px;
        margin-top: 0px;
        font-family: 'Franklin Gothic Medium';
        width: 100%;
    }

    */ #movies2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .Img-1 img {
        height: 150px;
        width: 100px;
        background-position: center;
        object-fit: cover;
    }
}

@media(max-width: 477px) {
    header {
        font-size: 10PX;
        text-align: center;
        color: black;
        background-color: #b24;
        position: relative;
        height: 50px;
        width: 50px;
        background-size: cover;
        box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
        -webkit-box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
        -moz-box-shadow: 1px 12px 8px 2px rgba(255, 13, 27, 0.56);
    }

    header h1 {
        position: absolute;
        margin-left: 20px;
        margin-top: 0px;
        font-family: 'Franklin Gothic Medium';
        width: 100%;
    }

    #movies2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .Img-1 img {
        height: 400px;
        width: 400px;
        background-position: center;
        object-fit: cover;
    }

}